*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-color: #1F2937;
    padding: 0 15%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding-top: 12px;
}

.hero-content{
    margin-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
    gap:32px;
    overflow: hidden;
}

.hero-content-right img{
    width: 500px;
    height: auto;
}

#hero-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    padding-bottom: 12px;
}

#hero-paragraph{
    font-size: 16px;
    color: #E5E7EB;
}

.signup{
    background-color: #3882F6;
    border: none;
    padding: 8px 24px;
    margin-top: 12px;
    border-radius: 10px;
    color: #F9FAF8;
}

.information-header{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding-top: 60px;
}

.information-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.card{
    border: #3882F6;
    border-style: solid;
    border-radius: 23px;
    width: 180px;
    height: 180px;
    flex-shrink: 0;
}

.card-container{
    font-size: 12px;
    text-align: center;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: dimgray;
}

.quote-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 15%;
    background-color: #E5E7EB;
    
}

.quote{
    font-size: 36px;
    font-weight: lighter;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap:26px;
}

li{
    color: #E5E7EB;
    font-size: 18px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 14px;
}