*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-color: #1F2937;
    padding: 0 15%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding-top: 12px;
}

.hero-content{
    margin-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
    gap:32px;
    overflow: hidden;
}

.hero-content-right img{
    width: 500px;
    height: auto;
}

#hero-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    padding-bottom: 12px;
}

#hero-paragraph{
    font-size: 16px;
    color: #E5E7EB;
}

.signup{
    background-color: #3882F6;
    border: none;
    padding: 8px 24px;
    margin-top: 12px;
    border-radius: 10px;
    color: #F9FAF8;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap:26px;
}

li{
    color: #E5E7EB;
    font-size: 18px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 14px;
}